<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Training Mgmt
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- tab1.page.html-->
  <ion-card>
    <ion-card-header>
      <H1>Insert New Training</H1>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formtraining"
        (ngSubmit)="savetraining()">
        <ion-input formControlName="id" 
        placeholder="id" type="text"></ion-input>
        <ion-input formControlName="trainingname" 
        placeholder="Training Name" type="text"></ion-input>
        <ion-input formControlName="contact" 
        placeholder="Phone Contact" type="tel"></ion-input>
        <ion-input formControlName="description" 
        placeholder="Description" type="text"></ion-input>
        <ion-button type="submit">Submit</ion-button>
      </form>  
      </ion-card-content>               
  </ion-card>

  <!-- tab1.page.html-->
  <ion-card>
    <ion-card-header>
    <H1>Training Listing </H1>
    </ion-card-header>
      <ion-card-content>

        <ion-list *ngFor="let training of trainings" >
          <ion-label>ID</ion-label>
          <ion-item> {{ training.id }}</ion-item>
          <ion-label>Name</ion-label>
          <ion-item> {{ training.trainingname }}</ion-item>
          <ion-label>Contact</ion-label>
          <ion-item> {{ training.contact }}</ion-item>
          <ion-label>Description</ion-label>
          <ion-item> {{ training.description }}</ion-item>
          <hr>
        </ion-list>
      </ion-card-content>
    </ion-card>
    
</ion-content>
